@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar {
      @apply  [&::-webkit-scrollbar]:w-2
      [&::-webkit-scrollbar-track]:rounded-full
      [&::-webkit-scrollbar-track]:bg-transparent
      [&::-webkit-scrollbar-thumb]:rounded-full
      [&::-webkit-scrollbar-thumb]:bg-[#2e2e2e];
    }
  }

html {
  height: -webkit-fill-available;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    height: 100vh;
    height: -webkit-fill-available;
}

.custom-markdown {
  @apply text-white/85
}

.custom-markdown img{
  @apply w-[90%] md:w-[70%] mx-auto
}

.custom-markdown h1 {
  @apply text-xl md:text-2xl font-bold mb-4;
}

.custom-markdown h2 {
  @apply text-[18px] sm:text-xl font-bold mb-2;
}

.custom-markdown h3 {
  @apply font-bold mb-1;
}

.custom-markdown p {
  @apply text-sm md:text-base leading-relaxed mb-4;
}

.custom-markdown a {
  @apply text-blue-600 hover:text-blue-800 underline mb-4;
}

.custom-markdown pre {
  @apply bg-gray-900 text-white p-4 rounded-md overflow-x-auto;
}

.custom-markdown ul {
  @apply list-disc pl-5;
}
.custom-markdown tr {
  @apply border-b border-gray-800;
}
.custom-markdown th {
  @apply pr-20 md:pr-32 text-sm whitespace-nowrap md:text-base;
}

.custom-table th {
  @apply pr-12 md:pr-20 font-normal mx-auto
}

.custom-markdown .el-flex {
  @apply flex sm:gap-8 md:gap-32 flex-col md:flex-row
}

.custom-markdown .el-flex .math-block{
  @apply w-[230px] block
}

.custom-markdown .el-flex.no-gap{
  @apply gap-0
}



.fade-in-char {
  opacity: 0;
  animation: fadeInTyping 0.3s ease-in forwards;
}

@keyframes fadeInTyping {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

